/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 sept. 2023, 19:49:07
    Author     : Khalil
*/

#photo-profil {
    width: 200px ;
}

#bio {
    margin-top: -200px ;
    margin-left: 400px ;
}

#demi-page-blanche {
    background-color: white;
    width: 50% ;
    float: left ;
    height: 100 vh ;
}

#demi-page-grise {
    background-color: lightgray;
    width: 50% ;
    float: right ;
    height: 100 vh ;
    margin-top: -20px ;
}

.title-col-blue {
    color: blue ;
}